<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="GetLatestVersion" value="http://172.18.9.211/api/Version/GetLatestVersion"/>
    <add key="PackageDownloadUrl" value="G:\DownLoadFile"/>
    <add key="UncompressUrl" value="G:\ExtractFile"/>
    <add key="BackupsUrl" value="G:\BackupsFile"/>
    <add key="WebSiteUrl" value="D:\web1|D:\web2|D:\web3"/>
    <add key="VersionsNumber" value="4"/>
  </appSettings>
</configuration>
